In [81]:
***********#COLLECTIONS

In [ ]:
from collections import Counter

In [26]:
mylist=[3,4,5,6,6,6,6,7,7,7,7,3,4,5,6,7]
#straight up counting
Counter(mylist)

Counter({3: 2, 4: 2, 5: 2, 6: 5, 7: 5})

In [27]:
#how many times does 2,4,6 appear
cnt=Counter(mylist)
print(cnt[2])
print(cnt[4])
print(cnt[6])

0
2
5

In [28]:
#can define directly
Counter({1:3,2:4})

Counter({1: 3, 2: 4})

In [39]:
#elements
#note this resorts it
cnt=Counter([3,4,5,6,6,6,6,7,7,7,7,3,4,5,6,7])
print(list(cnt.elements()))

[3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7]

In [40]:
#akin to before but in order
#Counter({3: 2, 4: 2, 5: 2, 6: 5, 7: 5})
cnt.most_common()

[(6, 5), (7, 5), (3, 2), (4, 2), (5, 2)]

In [41]:
#subtract a 3, 4, 5, 6 and 7 from countings
deduct=Counter([3,4,5,6,7])
cnt.subtract(deduct)
print (cnt)

Counter({6: 4, 7: 4, 3: 1, 4: 1, 5: 1})

In [42]:
from collections import defaultdict

In [92]:
#have to specify data type
nums=defaultdict(int)

In [93]:
##remember, you use = and not :
nums['one'] = 1
nums['two'] = 2
nums['three'] = 3
nums

defaultdict(int, {'one': 1, 'two': 2, 'three': 3})

nums['two']

In [95]:
#no error
nums['four']

0

In [96]:
for a,b in nums.items():
    print(a)
    print(b)

one
1
two
2
three
3
four
0

In [79]:
#can count as before into a default dict
count = defaultdict(int)
names_list = "Mike John Mike Anna Mike John John Mike Mike Britney Smith Anna Smith".split()
for names in names_list:
    count[names] +=1
print(count)

defaultdict(<class 'int'>, {'Mike': 5, 'John': 3, 'Anna': 2, 'Britney': 1, 'Smith': 2})

In [80]:
#no error
count['Mary']

0

In [83]:
from collections import OrderedDict

In [106]:
od=OrderedDict()
od['one'] = 1
od['two'] = 2
od['three'] = 3
od

OrderedDict([('one', 1), ('two', 2), ('three', 3)])

In [98]:
#can access through a loop an tuple unpacking
for a,b in od.items():
    print(a,b)

one 1
two 2
three 3

In [107]:
#keeps order
od['two.2']=od['two']
od

OrderedDict([('one', 1), ('two', 2), ('three', 3), ('two.2', 2)])

In [108]:
#combining with counter
list = ["a","c","c","a","b","a","a","b","c"]
cnt = Counter(list)
od = OrderedDict(cnt.most_common())
for key, value in od.items():
    print(key, value)

a 4
c 3
b 2

In [112]:
from collections import deque

In [116]:
deq=deque([3,4,5,6,6,6,6,7,7,7,7,3,4,5,6,7])

In [114]:
deq

deque([3, 4, 5, 6, 6, 6, 6, 7, 7, 7, 7, 3, 4, 5, 6, 7])

In [117]:
#append and appendleft
deq.append(21)
deq.appendleft(1.5)

In [118]:
deq

deque([1.5, 3, 4, 5, 6, 6, 6, 6, 7, 7, 7, 7, 3, 4, 5, 6, 7, 21])

In [119]:
deq.pop()

21

In [120]:
deq.popleft()

1.5

In [121]:
deq.clear()

In [122]:
deq

deque([])

In [123]:
deq=deque([3,4,5,6,6,6,6,7,7,7,7,3,4,5,6,7])
deq.count(6)

5

In [125]:
from collections import ChainMap

In [135]:
dict1 = { 'a' : 1, 'b' : 2 }
dict2 = { 'c' : 3, 'b' : 4 }
chain_map = ChainMap(dict1, dict2)
chain_map

ChainMap({'a': 1, 'b': 2}, {'c': 3, 'b': 4})

In [143]:
#to return without ChainMap({ etc.. use .maps
chain_map.maps

[{'a': 1, 'b': 2}, {'c': 3, 'b': 4}]

In [144]:
#returns b=2 and not b=4
chain_map['b']

2

In [146]:
from collections import namedtuple

In [154]:
Student = namedtuple('Student', 'fname, lname, age')
#this makes a namedtuple called Student, with inputs fname, lname, and age
s1 = Student('John', 'Clarke', '13')
#this makes a student of the student tuple, called john clarke who is 13
print(s1.fname)
print(s1.lname)
print(s1.age)

John
Clarke
13

In [157]:
#using a list using ._make()
mylist= ['brian','smith','27']
s2=Student._make(mylist)

In [163]:
s1

Student(fname='John', lname='Clarke', age='13')

In [164]:
s2=s1._asdict()
s2

{'fname': 'John', 'lname': 'Clarke', 'age': '13'}

In [166]:
s2 = s1._replace(age='14')
s2

Student(fname='John', lname='Clarke', age='14')

In [ ]:
*************#DATETIME

In [167]:
from datetime import time,date,datetime

In [172]:
date(year=1991, month=8, day=28)

datetime.date(1991, 8, 28)

In [173]:
time(hour=2, minute=14, second=31)

datetime.time(2, 14, 31)

In [174]:
datetime(year=1991, month=8, day=28, hour=2, minute=14, second=31)

datetime.datetime(1991, 8, 28, 2, 14, 31)

In [200]:
x=date.today()
x

datetime.date(2021, 4, 15)

In [192]:
print(x.day)
print(x.month)
print(x.year)

15
4
2021

In [193]:
y=datetime.now()
y

datetime.datetime(2021, 4, 15, 13, 4, 40, 465022)

In [195]:
print(y.day)
print(y.month)
print(y.year)
print(y.hour)
print(y.minute)
print(y.second)

15
4
2021
13
4
40

In [202]:
now= datetime.now()
currenttime=time(now.hour,now.minute,now.second)
currenttime

datetime.time(13, 7, 25)

In [203]:
datetime.combine(x,currenttime)

datetime.datetime(2021, 4, 15, 13, 7, 25)

In [205]:
string= '1991-08-28'
date.fromisoformat(string)

datetime.date(1991, 8, 28)

In [206]:
date_string = "08-28-1991 14:45:37"
format_string = "%m-%d-%Y %H:%M:%S"

In [207]:
datetime.strptime(date_string, format_string)

datetime.datetime(1991, 8, 28, 14, 45, 37)

In [ ]:
*********#OS

In [209]:
import os

In [211]:
os.getcwd()

'C:\\Users\\garyp\\Desktop\\Python'

In [212]:
#if you dont give a full file path it iwll just make it where you are
os.mkdir("MYNEWDIRECTORY")

In [216]:
os.chdir("C://Users//garyp//Desktop")
os.getcwd()

'C:\\Users\\garyp\\Desktop'

In [220]:
#we can see mynewdirectory was added
os.chdir("C:\\Users\\garyp\\Desktop\\Python")
os.listdir()

['.ipynb',
 '.ipynb_checkpoints',
 'All Coding Puzzles.xlsx',
 'Bankroll.ipynb',
 'builtin.ipynb',
 'Codilityjupyter.ipynb',
 'Complete-Python-3-Bootcamp-master',
 'Complete-Python-My-Work',
 'Data_02.csv',
 'Data_03.xlsx',
 'example_01.xlsx',
 'Fideres.ipynb',
 'garymerge.xlsx',
 'greenspark.ipynb',
 'HeadsupPoker.ipynb',
 'HeightWeight.xlsx',
 'hello.xlsx',
 'Housing.xlsx',
 'Leetcode Interview Questions.xlsx',
 'MachineLearning.ipynb',
 'Matplotlib',
 'mycals.csv',
 'myfile.txt',
 'MYNEWDIRECTORY',
 'MyStocks.ipynb',
 'my_picture.png',
 'numpyyy.ipynb',
 'Optimisation.ipynb',
 'Pandas All.ipynb',
 'path_to_file.xlsx',
 'Pics',
 'Poker.ipynb',
 'Poker.xlsx',
 'Pokerdaycsv.csv',
 'PPTask.ipynb',
 'Python Finance - Shortcut.lnk',
 'Python Hackerrank.xlsx',
 'Python Interview Q and A.docx',
 'Python Notes - Shortcut.lnk',
 'Python Notes.txt',
 'Python Packages',
 'Python-for-Finance-Repo-master',
 'Regression.ipynb',
 'Regressiondata.xlsx',
 'Stock Files',
 'Stockdataanalysis.ipynb',
 'Sublime',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 '“hello_world_binder.ipynb”.ipynb']

In [221]:
#remove it
os.rmdir("C:\\Users\\garyp\\Desktop\\Python\\MYNEWDIRECTORY")

In [222]:
#its gone
os.listdir()

['.ipynb',
 '.ipynb_checkpoints',
 'All Coding Puzzles.xlsx',
 'Bankroll.ipynb',
 'builtin.ipynb',
 'Codilityjupyter.ipynb',
 'Complete-Python-3-Bootcamp-master',
 'Complete-Python-My-Work',
 'Data_02.csv',
 'Data_03.xlsx',
 'example_01.xlsx',
 'Fideres.ipynb',
 'garymerge.xlsx',
 'greenspark.ipynb',
 'HeadsupPoker.ipynb',
 'HeightWeight.xlsx',
 'hello.xlsx',
 'Housing.xlsx',
 'Leetcode Interview Questions.xlsx',
 'MachineLearning.ipynb',
 'Matplotlib',
 'mycals.csv',
 'myfile.txt',
 'MyStocks.ipynb',
 'my_picture.png',
 'numpyyy.ipynb',
 'Optimisation.ipynb',
 'Pandas All.ipynb',
 'path_to_file.xlsx',
 'Pics',
 'Poker.ipynb',
 'Poker.xlsx',
 'Pokerdaycsv.csv',
 'PPTask.ipynb',
 'Python Finance - Shortcut.lnk',
 'Python Hackerrank.xlsx',
 'Python Interview Q and A.docx',
 'Python Notes - Shortcut.lnk',
 'Python Notes.txt',
 'Python Packages',
 'Python-for-Finance-Repo-master',
 'Regression.ipynb',
 'Regressiondata.xlsx',
 'Stock Files',
 'Stockdataanalysis.ipynb',
 'Sublime',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 '“hello_world_binder.ipynb”.ipynb']

In [ ]:
********#sys

In [225]:
import sys
sys.argv[0]

'C:\\Users\\garyp\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py'

In [226]:
sys.argv[1]

'-f'

In [227]:
sys.argv[2]

'C:\\Users\\garyp\\AppData\\Roaming\\jupyter\\runtime\\kernel-3db3678b-8017-4801-b870-1cc4a9fdbc35.json'

In [229]:
sys.maxsize

9223372036854775807

In [230]:
sys.path

['C:\\Users\\garyp\\Desktop\\Python',
 'C:\\Users\\garyp\\anaconda3\\python38.zip',
 'C:\\Users\\garyp\\anaconda3\\DLLs',
 'C:\\Users\\garyp\\anaconda3\\lib',
 'C:\\Users\\garyp\\anaconda3',
 '',
 'C:\\Users\\garyp\\anaconda3\\lib\\site-packages',
 'C:\\Users\\garyp\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\garyp\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\garyp\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\garyp\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\garyp\\.ipython']

In [231]:
sys.version

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'

In [ ]:
*******#RE

In [233]:
import re

In [253]:
x='Hello everyone, my name is Gary Kelleher and I am 29 years old. I love to play Poker'

In [239]:
#ell is present in hello and kelleher
re.findall('ell',x)

['ell', 'ell']

In [242]:
#1 is where it is found, 4 is when it ends
re.search('ell',x)

In [243]:
re.search('and I am 29',x)

In [246]:
re.split("ar",x)

['Hello everyone, my name is G',
 'y Kelleher and I am 29 ye',
 's old. I love to play Poker']

In [247]:
re.sub("ar","ol",x)

'Hello everyone, my name is Goly Kelleher and I am 29 yeols old. I love to play Poker'

In [250]:
re.match("Hello",x)

In [251]:
#only works at start of string
re.match("name",x)

In [258]:
#subn is a tuple
re.subn('ar','LOOOOOL',x)

('Hello everyone, my name is GLOOOOOLy Kelleher and I am 29 yeLOOOOOLs old. I love to play Poker',
 2)

In [257]:
re.sub('ar','LOOOOOL',x)

'Hello everyone, my name is GLOOOOOLy Kelleher and I am 29 yeLOOOOOLs old. I love to play Poker'

In [259]:
type(re.subn('ar','LOOOOOL',x))

tuple

In [260]:
type(re.sub('ar','LOOOOOL',x))

str