In [1]:
import pandas as pd
#GLE NESN SAP seperated by commas, BMW, DAI seperated by ;
bmw=pd.read_csv('C:/Users/garyp\Desktop/Python/Stock Files/BMW.DE.csv',sep=';')
dai=pd.read_csv('C:/Users/garyp\Desktop/Python/Stock Files/DAI.DE.csv',sep=';')
gle=pd.read_csv('C:/Users/garyp\Desktop/Python/Stock Files/GLE.PA.csv',sep=',')
nesn=pd.read_csv('C:/Users/garyp\Desktop/Python/Stock Files/NESN.SW.csv',sep=',')
sap=pd.read_csv('C:/Users/garyp\Desktop/Python/Stock Files/SAP.DE.csv',sep=',')
stocks=[bmw,dai,gle,nesn,sap]
index=["BMW","DAI","GLE","NESN","SAP"]

In [9]:
bmw.Date

0       2000-03-01
1       2000-03-02
2       2000-03-03
3       2000-03-06
4       2000-03-07
           ...
5384    2021-03-23
5385    2021-03-24
5386    2021-03-25
5387    2021-03-26
5388    2021-03-29
Name: Date, Length: 5389, dtype: object

In [10]:
pd.DatetimeIndex(bmw.Date)

DatetimeIndex(['2000-03-01', '2000-03-02', '2000-03-03', '2000-03-06',
               '2000-03-07', '2000-03-08', '2000-03-09', '2000-03-10',
               '2000-03-13', '2000-03-14',
               ...
               '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19',
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-29'],
              dtype='datetime64[ns]', name='Date', length=5389, freq=None)

In [86]:
#Volume >1,000,000
bmw.Volume[bmw.Volume>1000000]

0       1452926
1       1201261
4       1126066
5       1344057
6       1129814
         ...
5384    1747435
5385    2021024
5386    1331719
5387    1423694
5388    1633417
Name: Volume, Length: 4980, dtype: int64

In [87]:
#Volume >=average volume
bmw.Volume[bmw.Volume>=bmw.Volume.mean()]

10      10337143
11       9502690
12      28719542
13       3251350
14       3723320
          ...
5370     2754934
5379     2736407
5380     3793318
5381     3290237
5382     4996797
Name: Volume, Length: 2068, dtype: int64

In [88]:
#Upper 90%ile of volume
bmw.Volume[bmw.Volume>=bmw.Volume.quantile(0.9)]

10      10337143
11       9502690
12      28719542
42       6052846
77      10205373
          ...
5140     4331430
5175     4266200
5181     4307916
5292     4097264
5382     4996797
Name: Volume, Length: 539, dtype: int64

In [89]:
#corresponding date
bmw[['Date','Volume']][bmw.Volume>=bmw.Volume.quantile(0.9)]

            Date    Volume
10    2000-03-15  10337143
11    2000-03-16   9502690
12    2000-03-17  28719542
42    2000-04-28   6052846
77    2000-06-16  10205373
...          ...       ...
5140  2020-04-03   4331430
5175  2020-05-27   4266200
5181  2020-06-05   4307916
5292  2020-11-09   4097264
5382  2021-03-19   4996797

[539 rows x 2 columns]

In [221]:
#getting the max adj close for each
maxadj=pd.DataFrame()
for stock in stocks:
    maxadj=pd.concat([maxadj,stock[['Date','Adj Close']][stock['Adj Close']==max(stock['Adj Close'])]])
maxadj.index=index
maxadj.columns = ['Date', 'Max Adj Close']
maxadj

            Date  Max Adj Close
BMW   2015-03-16      94.470192
DAI   2021-03-18      74.330002
GLE   2007-05-04      72.824318
NESN  2020-07-23     111.279999
SAP   2020-08-26     142.259995

In [199]:
#save to excel
axadj.to_excel('C:/Users/garyp\Desktop/Python/Stock Files/MaxAdj.xlsx')

In [446]:
#Same for min
minadj=pd.DataFrame()
for stock in stocks:
    minadj=pd.concat([minadj,stock[['Date','Adj Close']][stock['Adj Close']==min(stock['Adj Close'])]])
minadj.index=index
minadj.columns = ['Date', 'Min Adj Close']

In [453]:
type(stock[['Date','Adj Close']].loc[20])

pandas.core.series.Series

In [203]:
minadj.to_excel('C:/Users/garyp\Desktop/Python/Stock Files/MinAdj.xlsx')

In [ ]:
#concat them side by side and save to excel
#axis=1 puts side to side, axis=0 has them stacked with NaN values
pd.concat([maxadj,minadj],axis=1).to_excel('C:/Users/garyp\Desktop/Python/Stock Files/MinandMaxAdj.xlsx')

In [498]:
#making a year column
#extracting year from datetime string
for stock in stocks:
    stock['Year'] =pd.DatetimeIndex(stock.Date).year
    stock['month'] =pd.DatetimeIndex(stock.Date).month
    stock['day'] =pd.DatetimeIndex(stock.Date).day

In [ ]:
#max closing for year 2000
#I create X here just to save a ton of typing
# instead of now having a short named df like bmw.Date, we now have 
# bmw[['Date','Low','Adj Close']][bmw.Year==2000] so to save me after this again writing
# bmw[['Date','Low','Adj Close']][bmw.Year==2000] == bmw[['Date','Low','Adj Close']][bmw.Year==2000].max()
# I just save it as x and say x[x['Adj Close']==x['Adj Close'].max()]
x=bmw[['Date','Adj Close']][bmw.Year==2000]
x[x['Adj Close']==x['Adj Close'].max()]

In [471]:
#Doing this again using idxmax (the index of the max) and then using ilo
# ********************VERY IMPORTANT***** iloc[] returns series. iloc[[]] returns dataframe
#It avoids duplicates in year 2002 when same adj close was achieved twice
#Also my smaller subtables x might produce an idx max around 4000 so we have to refer back to original table to iloc, not x
x=bmw[['Date','Adj Close']][bmw.Year==2000]
bmw[['Date','Adj Close']].iloc[[x['Adj Close'].idxmax()]]

           Date  Adj Close
156  2000-10-05  24.368061

In [509]:
#max for all years
maxyear=pd.DataFrame()
years = list(range(2000,2022))
for i in years:
    x=bmw[['Date','Adj Close']][bmw['Year']==i]
    maxyear= pd.concat([maxyear,bmw[['Date','Adj Close']].iloc[[x['Adj Close'].idxmax()]]])
maxyear.index=years

In [479]:
maxyear

            Date  Adj Close
2000  2000-10-05  24.368061
2001  2001-11-15  25.094532
2002  2002-05-17  28.489334
2003  2003-09-03  23.514353
2004  2004-07-29  23.031839
2005  2005-10-04  25.252371
2006  2006-04-03  29.112560
2007  2007-06-01  33.015263
2008  2008-01-02  27.808836
2009  2009-10-23  24.361410
2010  2010-12-21  44.258614
2011  2011-07-25  51.268814
2012  2012-12-27  53.061352
2013  2013-12-27  63.878632
2014  2014-07-24  73.595825
2015  2015-03-16  94.470192
2016  2016-12-20  74.675758
2017  2017-11-06  77.451401
2018  2018-01-22  82.866203
2019  2019-12-16  71.860153
2020  2020-11-24  76.680000
2021  2021-03-18  86.120003

In [514]:
#max for all years-All stocks
#added in a count feature too to name the titles at the top
years = list(range(2000,2022))
indcount=0
for stock in stocks:
    maxyear=pd.DataFrame()
    for i in years:
        x=stock[['Date','Adj Close']][stock['Year']==i]
        maxyear= pd.concat([maxyear,stock[['Date','Adj Close']].iloc[[x['Adj Close'].idxmax()]]])
    maxyear.index=years
    print("***********"+index[indcount]+"**********")
    indcount+=1
    print(maxyear)

***********BMW**********
            Date  Adj Close
2000  2000-10-05  24.368061
2001  2001-11-15  25.094532
2002  2002-05-17  28.489334
2003  2003-09-03  23.514353
2004  2004-07-29  23.031839
2005  2005-10-04  25.252371
2006  2006-04-03  29.112560
2007  2007-06-01  33.015263
2008  2008-01-02  27.808836
2009  2009-10-23  24.361410
2010  2010-12-21  44.258614
2011  2011-07-25  51.268814
2012  2012-12-27  53.061352
2013  2013-12-27  63.878632
2014  2014-07-24  73.595825
2015  2015-03-16  94.470192
2016  2016-12-20  74.675758
2017  2017-11-06  77.451401
2018  2018-01-22  82.866203
2019  2019-12-16  71.860153
2020  2020-11-24  76.680000
2021  2021-03-18  86.120003
***********DAI**********
            Date  Adj Close
2000  2000-04-05  30.640865
2001  2001-07-20  27.084585
2002  2002-05-27  26.258757
2003  2003-12-29  18.760519
2004  2004-04-27  20.567005
2005  2005-09-28  25.036842
2006  2006-02-15  27.471968
2007  2007-10-25  45.148529
2008  2008-01-02  37.554108
2009  2009-12-28  23.297266
2010  2010-12-10  33.952744
2011  2011-01-18  36.174187
2012  2012-03-15  31.103096
2013  2013-12-27  44.961613
2014  2014-07-03  51.807007
2015  2015-03-16  70.451347
2016  2016-12-21  56.821384
2017  2017-11-03  61.163486
2018  2018-01-23  63.200882
2019  2019-04-18  52.264107
2020  2020-12-16  58.770000
2021  2021-03-18  74.330002
***********GLE**********
            Date  Adj Close
2000  2000-09-12  24.933645
2001  2001-05-22  27.022835
2002  2002-05-14  30.361513
2003  2003-12-31  27.614462
2004  2004-12-14  31.484034
2005  2005-12-23  46.476372
2006  2006-10-12  61.695103
2007  2007-05-04  72.824318
2008  2008-01-14  46.927940
2009  2009-08-28  30.698698
2010  2010-01-11  29.792707
2011  2011-02-17  29.914762
2012  2012-12-18  17.845179
2013  2013-10-18  25.845943
2014  2014-02-28  29.432615
2015  2015-08-10  30.936800
2016  2016-12-15  32.159748
2017  2017-07-27  35.648781
2018  2018-01-29  33.458385
2019  2019-12-20  25.892984
2020  2020-02-17  26.334154
2021  2021-03-18  22.809999
***********NESN**********
            Date   Adj Close
2000  2000-12-25   21.971289
2001  2001-07-02   22.711693
2002  2002-05-06   23.547968
2003  2003-09-19   19.210268
2004  2004-05-05   21.222914
2005  2005-11-18   25.651785
2006  2006-11-15   29.447512
2007  2007-11-15   36.945724
2008  2008-06-03   35.808441
2009  2009-12-22   36.400581
2010  2010-11-26   41.653793
2011  2011-05-19   41.784279
2012  2012-10-17   49.098274
2013  2013-05-15   55.275238
2014  2014-12-29   61.542522
2015  2015-12-02   66.406693
2016  2016-08-15   71.300140
2017  2017-11-28   79.162384
2018  2018-12-04   81.671242
2019  2019-09-06  110.331757
2020  2020-07-23  111.279999
2021  2021-03-29  105.220001
***********SAP**********
            Date   Adj Close
2000  2000-03-07   48.972084
2001  2001-05-24   31.758064
2002  2002-03-19   30.687180
2003  2003-11-07   24.575577
2004  2004-11-17   26.249081
2005  2005-12-02   30.361973
2006  2006-04-10   36.527908
2007  2007-09-21   34.112770
2008  2008-09-19   33.083725
2009  2009-09-11   29.690952
2010  2010-12-29   32.791782
2011  2011-04-26   39.201527
2012  2012-12-11   53.601696
2013  2013-03-15   56.542244
2014  2014-01-08   55.384808
2015  2015-11-20   68.583595
2016  2016-12-30   77.172775
2017  2017-11-01   94.765144
2018  2018-09-26  103.292114
2019  2019-12-16  121.112823
2020  2020-08-26  142.259995
2021  2021-02-04  110.279999

In [517]:
#Save - added in anoter concat
years = list(range(2000,2022))
indcount=0
maxyearmerge=pd.DataFrame()
for stock in stocks:
    maxyear=pd.DataFrame()
    for i in years:
        x=stock[['Date','Adj Close']][stock['Year']==i]
        maxyear= pd.concat([maxyear,stock[['Date','Adj Close']].iloc[[x['Adj Close'].idxmax()]]])
    maxyear.index=years
    maxyearmerge=pd.concat([maxyearmerge,maxyear])

In [519]:
maxyearmerge.to_excel('C:/Users/garyp\Desktop/Python/Stock Files/maxyearallstocks.xlsx')

0
1
2
3
4

In [485]:
stocks

[            Date       Open       High        Low      Close  Adj Close  \
 0     2000-03-01  27.010000  27.360001  26.200001  26.910000  15.574872
 1     2000-03-02  27.049999  27.129999  25.650000  26.900000  15.569084
 2     2000-03-03  26.250000  26.799999  25.750000  26.000000  15.048185
 3     2000-03-06  25.760000  26.270000  25.400000  25.799999  14.932431
 4     2000-03-07  25.250000  25.500000  24.900000  25.330000  14.660405
 ...          ...        ...        ...        ...        ...        ...
 5384  2021-03-23  84.220001  85.250000  83.360001  83.430000  83.430000
 5385  2021-03-24  81.949997  83.230003  81.220001  82.589996  82.589996
 5386  2021-03-25  81.910004  83.580002  81.550003  83.500000  83.500000
 5387  2021-03-26  84.139999  84.500000  83.470001  83.790001  83.790001
 5388  2021-03-29  84.500000  85.709999  83.959999  85.599998  85.599998

        Volume  Year  month  day
 0     1452926  2000      3    1
 1     1201261  2000      3    2
 2      965563  2000      3    3
 3      941155  2000      3    6
 4     1126066  2000      3    7
 ...       ...   ...    ...  ...
 5384  1747435  2021      3   23
 5385  2021024  2021      3   24
 5386  1331719  2021      3   25
 5387  1423694  2021      3   26
 5388  1633417  2021      3   29

 [5389 rows x 10 columns],
             Date       Open       High        Low      Close  Adj Close  \
 0     2000-03-01  70.599998  71.199997  66.760002  68.199997  29.536497
 1     2000-03-02  68.000000  68.000000  65.250000  67.260002  29.129398
 2     2000-03-03  66.500000  66.900002  64.870003  65.949997  28.562052
 3     2000-03-06  66.500000  66.559998  65.300003  65.750000  28.475437
 4     2000-03-07  64.849998  65.349998  63.419998  63.779999  27.622255
 ...          ...        ...        ...        ...        ...        ...
 5384  2021-03-23  73.610001  73.699997  71.820000  72.610001  72.610001
 5385  2021-03-24  71.900002  71.989998  70.930000  71.650002  71.650002
 5386  2021-03-25  71.099998  72.610001  70.980003  72.500000  72.500000
 5387  2021-03-26  73.000000  73.480003  72.610001  73.269997  73.269997
 5388  2021-03-29  73.489998  74.019997  72.800003  73.709999  73.709999

        Volume
 0     4011217
 1     3341125
 2     2948107
 3     1253672
 4     2405787
 ...       ...
 5384  4078744
 5385  4231876
 5386  3418622
 5387  3131053
 5388  2720886

 [5389 rows x 7 columns],
             Date       Open       High        Low      Close  Adj Close  \
 0     2000-03-01  48.491062  49.585518  47.820988  47.910328  16.926823
 1     2000-03-02  48.022011  48.893097  46.793537  47.575291  16.808447
 2     2000-03-03  46.927551  48.022011  46.681858  46.681858  16.492800
 3     2000-03-06  47.128574  47.552948  45.788425  47.061569  16.626949
 4     2000-03-07  47.463612  48.692081  46.592518  46.860546  16.555927
 ...          ...        ...        ...        ...        ...        ...
 5414  2021-03-23  22.010000  22.055000  21.660000  22.025000  22.025000
 5415  2021-03-24  21.650000  22.150000  21.450001  22.110001  22.110001
 5416  2021-03-25  22.000000  22.000000  21.480000  21.844999  21.844999
 5417  2021-03-26  22.049999  22.379999  21.980000  22.240000  22.240000
 5418  2021-03-29  22.120001  22.150000  21.674999  21.705000  21.705000

          Volume
 0     1737048.0
 1      785585.0
 2     2020812.0
 3      907340.0
 4     1680986.0
 ...         ...
 5414  3140341.0
 5415  2971946.0
 5416  3724935.0
 5417  2961487.0
 5418  2900125.0

 [5419 rows x 7 columns],
             Date        Open        High         Low       Close   Adj Close  \
 0     2000-04-21   29.980000   29.980000   29.980000   29.980000   17.616993
 1     2000-04-24   29.980000   29.980000   29.980000   29.980000   17.616993
 2     2000-04-25         NaN         NaN         NaN         NaN         NaN
 3     2000-04-26         NaN         NaN         NaN         NaN         NaN
 4     2000-04-27         NaN         NaN         NaN         NaN         NaN
 ...          ...         ...         ...         ...         ...         ...
 5319  2021-03-23  102.919998  104.639999  102.639999  104.480003  104.480003
 5320  2021-03-24  104.480003  104.940002  103.779999  104.059998  104.059998
 5321  2021-03-25  104.199997  105.260002  103.980003  104.500000  104.500000
 5322  2021-03-26  104.279999  104.400002  103.480003  104.139999  104.139999
 5323  2021-03-29  104.720001  105.680000  104.639999  105.220001  105.220001

          Volume
 0           0.0
 1           0.0
 2           NaN
 3           NaN
 4           NaN
 ...         ...
 5319  4740961.0
 5320  4602492.0
 5321  4793705.0
 5322  5462736.0
 5323  3852204.0

 [5324 rows x 7 columns],
             Date        Open        High         Low       Close   Adj Close  \
 0     2000-03-01   56.166672   57.983330   55.500000   57.904171   39.613804
 1     2000-03-02   57.500000   58.500000   56.916672   57.941669   39.639458
 2     2000-03-03   58.316669   62.291672   58.012501   60.916672   41.674728
 3     2000-03-06   62.424999   69.333344   62.424999   68.324997   46.742966
 4     2000-03-07   68.158333   71.583344   66.250000   71.583344   48.972084
 ...          ...         ...         ...         ...         ...         ...
 5384  2021-03-23  102.000000  103.699997  101.419998  103.059998  103.059998
 5385  2021-03-24  103.239998  104.180000  102.440002  102.820000  102.820000
 5386  2021-03-25  102.400002  103.139999  101.800003  102.459999  102.459999
 5387  2021-03-26  102.779999  103.379997  102.320000  102.879997  102.879997
 5388  2021-03-29  103.480003  104.339996  102.980003  104.300003  104.300003

        Volume
 0     2804616
 1     2340432
 2     3152304
 3     8724924
 4     4824072
 ...       ...
 5384  3066444
 5385  2270733
 5386  2657133
 5387  1856833
 5388  2363532

 [5389 rows x 7 columns]]

In [369]:
a.iloc[2]

A     7
B    11
Name: 2, dtype: int64